<link href="/assets/css/addvege.css" rel="stylesheet">

<section class="login-page">
  <div class="row">
    <div class="column">
      <h2 class="display-4">
        Select Farmer
      </h2>
      <a href="farmer">
        <button class="btn mt-3 btn-outline-light">
          See All Current Farmers
        </button>
      </a>
      <h2 class="display-4 text-muted">
        Or Create a New One
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <form>
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" id="first_name" aria-describedby="first_name">
          <small id="first_name" class="form-text text-muted">John</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Last Name</label>
          <input type="text" class="form-control" id="last_name" aria-describedby="last_name">
          <small id="last_name" class="form-text text-muted">Doe</small>
        </div>
        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>

<script src="./assets/js/newfarmer.js"></script>



  

  
