
    <!--First Row of the layout for Headline and other things-->
<div class= "row">
    <!--main content and layout of the page listing different farmers and or vegetables-->

    <!--Aside/Navbar-->
        <aside class="col-sm-2">

        </aside>
        <!--Use a card tempalte in partials to load in cards for each farmers, not sure how this would look on the page but we can try and attempt it will need to look into partials to do it sucessfully-->
        <div class="row">
        {{#each farmer}}
            <section class="card" style="width: 18 rem; border: 1%;">

                <article class="card-body">
                    <h5 class="card-title">
                        <!--Accessing Farmer company name{{company}}-->
                
                    </h5>
                        <p class="card-text">
                            {{first_name}}
                             {{last_name}}
                        
                        </p>
                        <a href="farmer" class="btn btn-primary">
                          {{!--   {{brand_name}} --}}
                          view vege
                           
                        </a>
                </article>
            </section>
        </div>
     {{/each}}
</div>
