<body class= "container-fluid">
    <!--First Row of the layout for Headline and other things-->
    <div class= "row">

    </div>

    <!--main content and layout of the page listing different farmers and or vegetables-->
    <main class="row">
        <!--Use a card tempalte in partials to load in cards for each farmers, not sure how this would look on the page but we can try and attempt it will need to look into partials to do it sucessfully-->
        {{#each farmer}}
            <section>
        {{/each}}
    </main>

</body>