
     <link rel="stylesheet" href="/assets/css/vege.css">

  
        <div class="row">
        {{#each products}}
          {{#if product_availability}}
            <section class="card" style="width: 18 rem; border: 1%;">

                <article class="card-body">
                    <h5 class="card-title">
                        <!--Accessing Farmer company name{{company}}-->
                
                    </h5>
                        <p class="card-text">
                            {{this.product_name}}
                        
                        </p>
                        <a href="farmer" class="btn btn-primary">
                          {{!--   {{brand_name}} --}}
                          view businesses
                           
                        </a>
                </article>
            </section>
          {{/if}}
         {{/each}}
        </div>


    </div>