* {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }

.log-in-form {
    width: 65%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border: solid red;
}

@media screen and (max-width: 1024px) {
    body {
      background-color: lightblue;
      background-image: url("/assets/img/freshvege.jpeg"); 


    }
    .log-in-form{
        width: 80%;
        position: fixed;
        top: 45%;
        left: 55%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        border: solid red;
        background-color:black;
        color: whitesmoke;
        padding: 5%;
    }

    .page-footer{
        width: 100%;
        position:fixed;
        bottom: 0%;
        background-color: teal;
    }
    .footerASNY{
        color:black;
    }
    /* .signUp{
       position: fixed;
       left: */
       .form-check{
           padding: 5%;
       }

      
    .forgot{
        padding-top: 10%;
        margin-top: 10%;
        color: whitesmoke;
    }
  }

.my-container {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url("../img/vegetables.jpg") no-repeat center center fixed;
    background-size: 100%;
    height: 100% !important;
}

html {
    
}

.navbar {
    margin-left: 0;
    margin-right: 0;
}

.my-nav {
    background-color: #12A667;
}